<h1>
  My Tasks:
</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <i class="fa-regular fa-square<%= task.completed ? '-check' : '' %>"></i>
      <%= link_to task.title, task_path(task) %>
      <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Make a New Task', new_task_path %>
